.card {
  align-self: center;
  background-clip: content-box;
  background-color: rgb(22, 97, 51);
  border: black solid 1px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 10px white;
  height: 480px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.Attr-container {
  background-color: rgb(39, 95, 61);
  border: white solid 1px;
  border-radius: 10px;
  font-size: 14px;

}

.card-info {
  font-size: 12px;
}

img {
  border-radius: 30px;
  height: 200px;
  width: 200px;
}

.super-trunfo {
  color: yellow;
  font-size: 20px;
  margin-top: 0;
}
