.cards-play-view {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.selected-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
